body {
  margin: 0 2em;
}

h1 {
  text-align: center;
  border: ;
}

.mediumBox {
  display: flex;
  flex-flow: row wrap;
  text-align: right;
}

.personBox {
  align-content: center;
  width: 20%;
  text-align: center;
  margin: 1em;
}

.personBox > img {
  width: 15em;
  height: 16em;
}

.name {
  text-align: center;
  border-bottom: gray solid .22em;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.personBox address {
  text-align: center;
}
