body {
}

h1 {
  text-align: center;
}

.mediumBox {
  flex-direction: row;
}

.personBox {
  align-content: center;
}

.personBox > img {
  width: 15em;
  height: 16em;
}

.personBox p {
  text-align: center;
}

.personBox address {
  text-align: center;
}
